---
import Layout from "../layouts/Layout.astro";
import SolidIndex from "../components/Index";
---

<Layout title="Tesi INGV">
	<main>
		<SolidIndex client:load />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 75%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
