---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container";
---

<Layout title="Tesi INGV">
	<main class="flex flex-col justify-center items-center gap-y-20">
		<div class="flex flex-col items-start">
			<h3 class="ml-20">
				Land Surface Temperature (LST)
			</h3>
			<div
				class="w-screen h-fit flex flex-row gap-x-10 justify-evenly items-center p-10"
			>
				<Container chartType="BAR" oblique={true} circle={true} client:only />
			</div>
		</div>
		<div class="flex flex-col items-start">
			<h3 class="ml-20">
				Volcanic Radiative Power
			</h3>
			<div
				class="w-screen h-fit flex flex-row gap-x-10 justify-evenly items-center p-10"
			>
				<Container chartType="BAR" circle={true} client:only />
			</div>
		</div>
		<div class="flex flex-col items-start">
			<h3 class="ml-20">
				Active Craters
			</h3>
			<div
				class="w-screen h-fit flex flex-row gap-x-10 justify-evenly items-center p-10"
			>
				<Container chartType="BAR" oblique={true} client:only />
			</div>
		</div>
		
	</main>
	<!-- <Container chartType="PIE" client:load/> -->
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 75%;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
