---
interface Props {
    title: string;
}
const p = Astro.props;
---

<h1 class="w-full">{p.title}</h1>
<div class="w-screen min-w-fit p-10">
    <div
        class="border-solid border-gray-500 border-4 gap-y-20 flex flex-col items-center justify-center"
    >
        <slot />
    </div>
</div>
