---
interface Props extends ContainerProps<any> {
    title: string;
}
import Container from "./container";
import type { ContainerProps } from "./context/context.types";
const p = Astro.props
---

<div class="w-full p-5">
   {p.title.trim() !== '' && <h3 class="w-full px-10">{p.title}</h3>}
    <div
        class="w-full h-fit flex flex-col lg:flex-row lg:gap-x-10 justify-between items-center p-10"
    >
        <Container
            {...p}
            client:only="solid-js"
        />
    </div>
</div>
